<h1>My Planner</h1>

<ul>
    {{#each plans}}
        <li>
            <p> <!-- whatever that is written in the p tag will be in the same line -->
            
                {{this.id}}. {{this.plan}}

                <button data-planid="{{this.id}}" class="delplan">DELETE PLAN!</button>
            </p>
        </li>
    {{/each}}
</ul>

<h2>Create a Plan</h2>

<form id="createplan" class="button-size">
    <textarea type="text" name='plan'></textarea>
    <button type="submit">Save Plan!</button>
</form>

<h2>Update a Plan!</h2>

<form id="updateplan" class="button-size">
    <select name='id'>
        {{#each plans}}
            <option value = "{{this.id}}">{{this.plan}}</option>
        {{/each}}
    </select>
    <textarea type='text' name = 'plan' placeholder="plan"></textarea>
    <button type="submit">Update Plan!</button>
</form>

